<div class="panel-body">
	<ul class="pager" id="pageTop">

		<!-- Modal for create thread -->
		<span style="cursor: pointer">
			<div ng-if="loggedin != null"  align="left">
				<li><a data-toggle="modal" data-target="#createModal"
					data-offset-right="0">Create Thread</a></li>
			</div>
		</span>

		<div ng-if="bool >= 0">
			<li class="next" ng-click="pageNext()"><a href="">Next</a></li>
		</div>
		<div ng-if="bool <= 0">
			<li class="next" ng-click="pagePrev()"><a href="">Previous</a></li>
		</div>
	</ul>




	<div class="container" ng-repeat="f in displayAllThread">
		<div class="well" id="{{f.id}}">
			<div class="media">
				<a class="pull-left" href="#"> <img class="media-object"
					style="width: 250px"
					data-ng-src="data:image/png;base64,{{f.posts[0].image}}" />
				</a>
				<div class="media-body">
				
					<div ng-if="loggedin.role.role == 'Admin'">
						<button type="button"
							style="color: black; background-color: #ff1e1e"
							class="btn btn-default pull-right" ng-click="deleteThread(f.id)">BAN</button>
					</div>
					
					<h3>
						<a ui-sref="thread({id: f.id})">{{f.title}}</a>
					</h3>
					
					<p class="text-left">
						<a ui-sref="profile({username: '{{f.posts[0].user.username}}'})">{{f.posts[0].user.username}}</a>

					</p>
					<p>{{f.posts[0].body}}</p>
					<ul class="list-inline list-unstyled">
						<li><span><i class="glyphicon glyphicon-calendar">
							</i>{{f.posts[0].submitted | date: 'LLLL dd, yyyy'}}</span></li>
						<li>|</li>
						<span><i class="glyphicon glyphicon-comment"></i>
						<span ng-if="(f.posts.length) > 0">
							{{f.posts.length-1}} comments
						</span>
						</span>
					</ul>
				</div>
			</div>
		</div>
	</div>




	<ul class="pager" id="pageBot">
		<div ng-if="bool >= 0">
			<li class="next" ng-click="pageNext()"><a href="">Next</a></li>
		</div>
		<div ng-if="bool <= 0">
			<li class="next" ng-click="pagePrev()"><a href="">Previous</a></li>
		</div>
	</ul>
	<p>
</div>

<!-- Modal -->
<div class="modal fade" id="createModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">New Thread</h4>
			</div>
			<form action="/action_page.php" id="form-signin">
				<div class="form-group">
					<label for="title">Title:</label> <input type="text"
						class="form-control" id="title" placeholder="Title of thread"
						ng-model="title">
				</div>
			</form>
			<div class="modal-footer" id="modal-signin">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="createThread()">Submit</button>
			</div>
		</div>

	</div>
</div>