  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  
  #navbar-main {
  }
  
  #modal-signin {
  	
  }
  
  #form-signin {
  	padding-top: 3%;
  	padding-left: 5%;
    padding-right: 5%;
  }
  
  #form-signin-no{
  	padding-right: 10%; 
  }